<div class="example-container">

    <h2>En que desearias que se gastara tu dinero ?</h2>
        <mat-form-field>
          <input matInput placeholder="Edad">
        </mat-form-field>
      
        <mat-form-field>
                <mat-select placeholder="Estado">
                  <mat-option value="Aguascalientes">Aguascalientes</mat-option>
                  <mat-option value="Baja California">Baja California</mat-option>
                  <mat-option value="Baja California Sur">Baja California Sur</mat-option>
                  <mat-option value="Campeche">Campeche</mat-option>
                  <mat-option value="Cdmx">Cdmx</mat-option>
                  <mat-option value="Coahuila">Coahuila</mat-option>
                  <mat-option value="Colima">Colima</mat-option>
                  <mat-option value="Chiapas">Chiapas</mat-option>
                  <mat-option value="Chihuahua">Chihuahua</mat-option>
                  <mat-option value="Durango">Durango</mat-option>
                  <mat-option value="Guanajuato">Guanajuato</mat-option>
                  <mat-option value="Guerrero">Guerrero</mat-option>
                  <mat-option value="Hidalgo">Hidalgo</mat-option>
                  <mat-option value="Jalisco">Jalisco</mat-option>
                  <mat-option value="México">México</mat-option>
                  <mat-option value="Michoacán">Michoacán</mat-option>
                  <mat-option value="Morelos">Morelos</mat-option>
                  <mat-option value="Nayarit">Nayarit</mat-option>
                  <mat-option value="Nuevo León">Nuevo León</mat-option>
                  <mat-option value="Oaxaca">Oaxaca</mat-option>
                  <mat-option value="Puebla">Puebla</mat-option>
                  <mat-option value="Querétaro">Querétaro</mat-option>
                  <mat-option value="Quintana Roo">Quintana Roo</mat-option>
                  <mat-option value="San Luis Potosí">San Luis Potosí</mat-option>
                  <mat-option value="Sinaloa">Sinaloa</mat-option>
                  <mat-option value="Sonora">Sonora</mat-option>
                  <mat-option value="Tabasco">Tabasco</mat-option>
                  <mat-option value="Tamaulipas">Tamaulipas</mat-option>
                  <mat-option value="Tlaxcala">Tlaxcala</mat-option>
                  <mat-option value="Veracruz">Veracruz</mat-option>
                  <mat-option value="Yucatán">Yucatán</mat-option>
                  <mat-option value="Zacatecas">Zacatecas</mat-option>

                </mat-select>
        </mat-form-field>

        <mat-form-field>
                <mat-select placeholder="Dependencias">
                  <mat-option value="Comunicacion y Tecnologia">Comunicacion y Tecnologia</mat-option>
                  <mat-option value="Educación">Educación</mat-option>
                  <mat-option value="Empleo">Empleo</mat-option>
                  <mat-option value="Finanzas">Turismo</mat-option>
                  <mat-option value="Poblacion">Poblacíon</mat-option>
                  <mat-option value="Salud">Salud</mat-option>
                  <mat-option value="Seguridad y Justicia">Seguridad y Justicia</mat-option>
                  <mat-option value="Servicios Públicos">Servicios Públicos</mat-option>
                  <mat-option value="Turismo">Turismo</mat-option>

                </mat-select>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Tu opinion nos importa"></textarea>
        </mat-form-field>
        <button mat-button (click)="enviar()" color="primary">Enviar</button>
       
</div>
      