ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;

}


.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;  
}

mat-toolbar {
  background-color: indigo;
  height: 100px;
}

.bitoncillazo {
  background-color: indigo;
  width: 30%;
  height:50%;
  
}

.spancillo {
  width: 70%;
  height: 60%;
}

.imagencilla {
  
  width: 60%;   
  height: 160%;
  margin: auto;

}