ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}


.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;  
}

mat-toolbar {
  background-color: indigo;
}

.bitoncillazo {
  background-color: indigo;
}