
mat-card {
  text-align: center;
  width: 88%;
  /* no mover */
}
mat-grid-tile {
  margin: auto;
}

.inicio{
  text-align: center;
}

img {
  margin: 20px;
  display: block;
  height: 80%;
  width: 52%;
  border-radius: 10%;
}

.cardsMain {
  margin: auto;
  height: 100%;
  width: 50%;
}
.container {
  position: relative;
  margin: 0 auto; /* Center it */
}