
mat-card {
  text-align: center;
  width: 90%;
  margin: auto; /* no mover */
}


img {
  margin: 2px;
  display: block;
  height: 95%;
  width: 95%;
  border-radius: 10%;
  
}

.cardsMain {
  margin: auto;
  height: 100%;
  width: 100%;
}

