<br>
<mat-card>

    <p>
      TRANSPARENCIA
    </p>

</mat-card>
<br>
<p class = "inicio">
    La transparencia, es la cualidad que permite al ciudadano acceder a la información,<br> 
    sobre el manejo administrativo del ingreso público en organismos gubernamentales.
</p>

<mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile class = "inicio">Derecho de acceso a la información pública</mat-grid-tile>
    <mat-grid-tile class = "inicio">Normatividad en transparencia y acceso a los datos abiertos gubernamentales</mat-grid-tile>
    <mat-grid-tile class = "inicio">Entrega de información por parte de las instituciones obligadas</mat-grid-tile>
    <mat-grid-tile class = "inicio">Protección de datos personales de los organismos gubernamentales</mat-grid-tile>
    <mat-grid-tile class = "inicio">Agregar información en los portales para la presentación de la información</mat-grid-tile>
</mat-grid-list><br><br>

<div style="display: block">
    <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
</div>
<br>
<mat-grid-list cols="4" rowHeight="200px">
  <mat-grid-tile class="cardsMain">
    <div class="container">
      <a class="aMod" routerLink="/comSalud"> <img  mat-card-image src="assets/SALUD.png" alt="Foto de Salud"></a>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="cardsMain">
      <a routerLink="/comTec"> <img  mat-card-image src="assets/tecno.png" alt="Foto de Comunicación"></a>
  </mat-grid-tile >

  <mat-grid-tile class="cardsMain">

      <a routerLink="/comEducacion"> <img  mat-card-image src="assets/EDUCACION.png" alt="Foto de Educacion"></a>

  </mat-grid-tile>
  
  <mat-grid-tile class="cardsMain">
      <a routerLink="/comEmpleo"> <img  mat-card-image src="assets/NEGOCIOS.png" alt="Foto de Negocios"></a>
  </mat-grid-tile>

  <mat-grid-tile class="cardsMain">
      <a routerLink="/comPoblacion"> <img  mat-card-image src="assets/POBLACION.png" alt="Foto de Poblacion"></a>
  </mat-grid-tile>

  <mat-grid-tile class="cardsMain">
      <a routerLink="/comSeguridad"> <img  mat-card-image src="assets/SEGURIDAD.png" alt="Foto de Seguridad"></a>
  </mat-grid-tile>

  <mat-grid-tile class="cardsMain">

       <a routerLink="/comServicios"> <img  mat-card-image src="assets/SERVICIOSPUBLICOS.png" alt="Foto de Servicios Publicos"></a>
   
  </mat-grid-tile>

  <mat-grid-tile class="cardsMain">

       <a routerLink="/comTurismo"> <img  mat-card-image src="assets/CULTURA.PNG" alt="Foto de Cultura"></a>
 
  </mat-grid-tile>


</mat-grid-list>
<mat-grid-list cols="1" rowHeight="200px">
    
  <mat-grid-tile class="sola">

        <a routerLink="/comFinanzas"> <img  mat-card-image src="assets/FINANZAS.png" alt="Foto de Finanzas"></a>
  
   </mat-grid-tile>
</mat-grid-list>
